OAUTH_CLIENT_SECRET=
OAUTH_CLIENT_ID=
DATABASE_URL=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_SECRET=
CLOUDINARY_API_KEY=
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
PAYPAL_CLIENT_SECRET=
APP_URL=http://localhost:3000
PAYPAL_CLIENT_ID=
PAYPAL_API_URL=
